<!--a [routerLink]="['/']">
  <h1>ODelivery</h1>
</a>
<a><h1>Сделать заказ</h1></a>
<a [routerLink]="['/users']"><h1>Личный кабинет</h1></a>

<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Заказы
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">В процессе</a>
      <a href="#">История заказов</a>
    </div>
  </div>
</div>

<a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons"></i>Корзина</a-->

<!--<input type="text" name="search" placeholder="Что вы желаете?">
<div class="text">Delivery</div>
<a class="btn" style="color: brown" >Рестораны</a>
<a class="btn" style="color: whitesmoke" >Заказы</a>
<a class="btn" style="color: whitesmoke" >Доставка</a>
<a class="btn" style="color: whitesmoke" >Контакты</a>


  <div>
    <a class="button">Регистрация</a>
    <a class="button">Вход</a>
  </div>-->
<div class="text">Delivery</div>









